@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

$font-size-body: 18px;
$font-family-body: "Barlow", sans-serif;
$font-weight-body: 600;

$font-family-fraunces: "Fraunces", serif;
$font-weight-fraunces-700: 700;
$font-weight-fraunces-900: 900;
